.col-6{
    border: 5px solid #001f3f;
    text-align: center;
}

#navbar{
    background-color: lightskyblue;
}

#app_section{
    background-color: #001f3f;
}

.sidenav{
    color:white;
    float:right;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 60vh;
    right:0px;
    background:lightskyblue;
    overflow-x: hidden;
    padding: 8px 10px;
}

#appointment_section{
    background-color: lightskyblue;
}

